<!DOCTYPE html>
<html>
	<head>
        <title>TEMPO - ADD-TASK</title>
		<link rel="stylesheet" type="text/css" href="/assets/style.css">
	</head>
	<body>
        <div class="admin-wrapper">
            <div class="admin-content">
                <!-- <div class="button-group">
                    <a href="/" class="">TODO-LIST</a>
                </div> -->
                <div class="content">
                    <h2 class="page-title">Add Task</h2>
                    <form action="/tempo_addtask" method="post">
                        <div>
                            <label>Description</label><br>
                                <input type="text" name="description" class="text-input"><br><br>
                        </div>
                        <div>
                            <label>Due Date</label><br>
                                <input type="text" name="duedate" class="text-input"><br><br>
                        </div>
                        <div>
                            <button type="submit" class="add">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>