@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d0d3d4;
}

.button-group {
    width: 100%;
    margin-top: 20px;
    align-items: center;
    display: inline-block;
}

button {
    margin: 10px;
}

a {
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}

.todo-container {
    width: 50%;
}

.tempo-head {
    display: flex;
    justify-content: space-between;
    margin-top: 1000px;
    align-items: center;
}

.add, .update{
    background-color: royalblue;
  	border: none;
  	color: white;
  	padding: 15px 25px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
	font-size: 16px;
	border-radius: 5px;
}

.todo-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    color: white;
    background: #2e86c1;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 10px rgb(0,0,0,0.55);
}

.btn-edit {
    background-color: #2e86c1;
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
}

.btn-remove {
    background-color: #2e86c1;
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
}

.img-float {
    width: 20%;
    height: 20%;
}